@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes color-change {
    0% {
        color: black;
    }
    50% {
        color: rgb(255, 124, 124);
    }
    100% {
        color: black;
    }
}

.color-animation {
    animation: color-change 5s infinite;
}
